## 빅데이터 분석기사 5회 실기 기출 유형

#### [가격 예측] 중고 자동차
* 자동차 가격을 예측해주세요!
* 예측할 값(y): price
* 평가: RMSE (Root Mean Squared Error)
* data: train.csv, test.csv

* 제출 형식: result.csv파일을 아래와 같은 형식(수치형)으로 제출
```
pred
11000
20500
...
11995
```

In [2]:
import pandas as pd
import numpy as np

train = pd.read_csv("exam5_train.csv")
test = pd.read_csv("exam5_test.csv")

In [3]:
# 2. EDA
train.head(3)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0

In [6]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB
None

In [7]:
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         1617 non-null   object
 1   year          1617 non-null   int64
 2   transmission  1617 non-null   object
 3   mileage       1617 non-null   int64
 4   fuelType      1617 non-null   object
 5   tax           1617 non-null   int64
 6   mpg           1617 non-null   float64
 7   engineSize    1617 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 101.2+ KB
None

In [8]:
y_train = train['price']
x_train = train.drop('price', axis=1)
x_test = test
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   transmission  3759 non-null   object
 3   mileage       3759 non-null   int64
 4   fuelType      3759 non-null   object
 5   tax           3759 non-null   int64
 6   mpg           3759 non-null   float64
 7   engineSize    3759 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 235.1+ KB
None

In [10]:
print(x_train.describe())
print(x_test.describe())

              year        mileage          tax          mpg   engineSize
count  3759.000000    3759.000000  3759.000000  3759.000000  3759.000000
mean   2016.887736   23191.786379   114.444001    57.793083     1.352807
std       2.151811   19223.258713    61.713682    10.099221     0.437130
min    2002.000000       5.000000     0.000000    20.900000     0.000000
25%    2016.000000    9997.500000    75.000000    52.300000     1.000000
50%    2017.000000   18180.000000   145.000000    58.900000     1.200000
75%    2018.000000   31000.000000   145.000000    65.700000     1.500000
max    2060.000000  144000.000000   570.000000   201.800000     5.000000
              year        mileage          tax          mpg   engineSize
count  1617.000000    1617.000000  1617.000000  1617.000000  1617.000000
mean   2016.752628   23817.544836   113.089054    57.804082     1.362894
std       2.182152   20130.026364    63.584868    10.567025     0.436878
min    2005.000000       5.000000     0.000000    20.900000     0.000000
25%    2016.000000   10422.000000    30.000000    52.300000     1.000000
50%    2017.000000   18471.000000   145.000000    58.900000     1.200000
75%    2018.000000   31098.000000   145.000000    65.700000     1.600000
max    2020.000000  150890.000000   570.000000   201.800000     5.000000

In [11]:
print(x_train.describe(include='object'))
print(x_test.describe(include='object'))

          model transmission fuelType
count      3759         3759     3759
unique       19            3        3
top      Fiesta       Manual   Petrol
freq       1372         3234     2541
          model transmission fuelType
count      1617         1617     1617
unique       19            3        3
top      Fiesta       Manual   Petrol
freq        591         1385     1085

In [13]:
# 3. 전처리 및 분리
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3759 non-null   int64
 1   mileage                       3759 non-null   int64
 2   tax                           3759 non-null   int64
 3   mpg                           3759 non-null   float64
 4   engineSize                    3759 non-null   float64
 5   model_ B-MAX                  3759 non-null   bool
 6   model_ C-MAX                  3759 non-null   bool
 7   model_ EcoSport               3759 non-null   bool
 8   model_ Edge                   3759 non-null   bool
 9   model_ Fiesta                 3759 non-null   bool
 10  model_ Focus                  3759 non-null   bool
 11  model_ Fusion                 3759 non-null   bool
 12  model_ Galaxy                 3759 non-null   bool
 13  model_ Grand C-MAX            3759 non-null   bool
 14  model_ Grand Tourneo Connect  3759 non-null   bool
 15  model_ KA                     3759 non-null   bool
 16  model_ Ka+                    3759 non-null   bool
 17  model_ Kuga                   3759 non-null   bool
 18  model_ Mondeo                 3759 non-null   bool
 19  model_ Mustang                3759 non-null   bool
 20  model_ Puma                   3759 non-null   bool
 21  model_ S-MAX                  3759 non-null   bool
 22  model_ Tourneo Connect        3759 non-null   bool
 23  model_ Tourneo Custom         3759 non-null   bool
 24  transmission_Automatic        3759 non-null   bool
 25  transmission_Manual           3759 non-null   bool
 26  transmission_Semi-Auto        3759 non-null   bool
 27  fuelType_Diesel               3759 non-null   bool
 28  fuelType_Hybrid               3759 non-null   bool
 29  fuelType_Petrol               3759 non-null   bool
dtypes: bool(25), float64(2), int64(3)
memory usage: 238.7 KB
None

In [14]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          1617 non-null   int64
 1   mileage                       1617 non-null   int64
 2   tax                           1617 non-null   int64
 3   mpg                           1617 non-null   float64
 4   engineSize                    1617 non-null   float64
 5   model_ B-MAX                  1617 non-null   bool
 6   model_ C-MAX                  1617 non-null   bool
 7   model_ EcoSport               1617 non-null   bool
 8   model_ Edge                   1617 non-null   bool
 9   model_ Fiesta                 1617 non-null   bool
 10  model_ Focus                  1617 non-null   bool
 11  model_ Fusion                 1617 non-null   bool
 12  model_ Galaxy                 1617 non-null   bool
 13  model_ Grand C-MAX            1617 non-null   bool
 14  model_ Grand Tourneo Connect  1617 non-null   bool
 15  model_ KA                     1617 non-null   bool
 16  model_ Ka+                    1617 non-null   bool
 17  model_ Kuga                   1617 non-null   bool
 18  model_ Mondeo                 1617 non-null   bool
 19  model_ Mustang                1617 non-null   bool
 20  model_ Puma                   1617 non-null   bool
 21  model_ S-MAX                  1617 non-null   bool
 22  model_ Tourneo Connect        1617 non-null   bool
 23  model_ Tourneo Custom         1617 non-null   bool
 24  transmission_Automatic        1617 non-null   bool
 25  transmission_Manual           1617 non-null   bool
 26  transmission_Semi-Auto        1617 non-null   bool
 27  fuelType_Diesel               1617 non-null   bool
 28  fuelType_Hybrid               1617 non-null   bool
 29  fuelType_Petrol               1617 non-null   bool
dtypes: bool(25), float64(2), int64(3)
memory usage: 102.8 KB
None

In [16]:
# 데이터 분리
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=2023)

print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(3007, 30)
(752, 30)
(3007,)
(752,)

In [18]:
# 4. 모델링 및 성능평가
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)

RandomForestRegressor()

In [22]:
# 평가
y_pred = model.predict(x_val)

from sklearn.metrics import r2_score, mean_squared_error
r2 = r2_score(y_val, y_pred)
mse = mean_squared_error(y_val, y_pred)
rmse = mse**0.5

print(r2)
print(mse)
print(rmse)

0.9302187998479431
1554153.2499622905
1246.6568292687007

In [23]:
# 5. 결과물 제출
y_result = model.predict(x_test)
column_name = ['pred']
result = pd.DataFrame(y_result, columns=column_name).to_csv('exam5_result.csv', index=False)
read = pd.read_csv('exam5_result.csv')
print(read)

          pred
0     15577.18
1     16007.76
2     15503.43
3     18312.93
4      6301.17
...        ...
1612  11598.62
1613  18440.75
1614   9615.78
1615  14311.60
1616   4936.33

[1617 rows x 1 columns]