In [1]:
import pandas as pd
import numpy as np

In [2]:
# 문제 21
# 22년 1분기 A제품의 매출액을 구하시오
# (매출액 = 판매수*개당수익)
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [3]:
# 풀이
# 데이터 타입 datatime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년, 월, 일, 변수(열) 추가하기
df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

# 매출액 변수 추가하기
df['매출액'] = df['판매수']*df['개당수익']

# df.info()

# 22년으로 필터링
df = df[df['year']==2022]
print(df.head())

m1 = df[df['month']==1]['매출액'].sum()
m2 = df[df['month']==2]['매출액'].sum()
m3 = df[df['month']==3]['매출액'].sum()
print(m1+m2+m3)

           날짜 제품  판매수  개당수익  year  month  day    매출액
0  2022-01-03  A    3   300  2022      1    3    900
1  2022-01-05  B    5   400  2022      1    5   2000
4  2022-02-03  A   10   400  2022      2    3   4000
5  2022-02-05  B   10   500  2022      2    5   5000
10 2022-05-05  A   30   600  2022      5    5  18000
11900

In [4]:
# 풀이2
# 데이터 생성
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

# 데이터 타입 datetime으로 변경(위와 동일)
df['날짜'] = pd.to_datetime(df['날짜'])

# 매출액 변수 추가하기(위와 동일)
df['매출액'] = df['판매수']*df['개당수익']

# 날짜 자체를 필터링 : df['변수'].between( , )
df_after = df[df['날짜'].between('2022-01-01', '2022-04-01')] # 4월 1일 미포함
print(df_after['매출액'].sum())

11900

In [5]:
# 풀이3
# 데이터생성
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

# 데이터 타입 datetime으로 변경(위와 동일)
df['날짜'] = pd.to_datetime(df['날짜'])

# 매출액 변수 추가하기(위와 동일)
df['매출액'] = df['판매수']*df['개당수익']

# 날짜를 인덱스로 설정 후 loc 함수 사용
df = df.set_index('날짜')
df_after = df.loc[(df.index<='2022-03-31')&(df.index>='2022-01-01')]
print(df_after['매출액'].sum())

11900

In [6]:
# 문제 22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.
# 매출액 = 판매수*개당수익
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [7]:
# 풀이
# 데이터타입 datatime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년 변수 추가하기
df['year'] = df['날짜'].dt.year

# 매출액 변수 추가하기
df['매출액'] = df['판매수']*df['개당수익']

# 22년 매출액 구하기
df22 = df[df['year']==2022]
df22_sum = df22['매출액'].sum()

# 23년 매출액
df23 = df[df['year']==2023]
df23_sum = df23['매출액'].sum()

print(abs(df22_sum-df23_sum))

48600

In [8]:
# 문제 23
# 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.

df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [9]:
# 풀이
# 데이터타입 datatime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년 변수 추가하기
df['year'] = df['날짜'].dt.year

# 매출액 변수 추가하기
df['매출액'] = df['판매수']*df['개당수익']

# 2023년으로 필터링
df = df[df['year']==2023]

# 23년 A 매출액과 B 매출액 별도로 구하기
# A매출액
df_a = df[df['제품']=='A']
A_sales = df_a['매출액'].sum()
# print(A_sales) # 46000

# B매출액
df_b = df[df['제품']=='B']
B_sales = df_b['매출액'].sum()
# print(B_sales) # 32500

# A 제품의 23년 판매수
A_sum = df_a['판매수'].sum()
print(A_sum)

80

In [10]:
# 문제 24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.

df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A','B','A', 'B','A','B','A','B','A','A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [11]:
# 풀이
df['매출액'] = df['판매수']*df['개당수익']
cond1 = (df['매출액']>4000)
cond2 = (df['매출액']<10000)
df = df[cond1&cond2]
print(len(df))

4

In [12]:
# 문제 25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B','A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df['time']=time
df = df[['time', '물품', '판매수', '개당수익']]
df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [13]:
# 풀이1
# 컬럼과 인덱스에 둘 다 time 변수를 놓고 풀이
# 데이터 타입 datetime으로 변경 (항상 df.info()로 데이터 타입 확인할 것)
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time', drop=False) # 디폴트 True
# print(df.head())

# 9월 24일 필터링
df_after = df[df['time'].between('2023-09-24', '2023-09-25')] # 25일은 미포함됨

# 시간 필터링 16 ~ 22 (주의:시간이 index에 위치해야 함)
df = df_after.between_time(start_time='16:00', end_time='22:00') # 포함 기준

# 전체 판매수 확인하기
print(df['판매수'].sum())

25

In [14]:
# 풀이 2
df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B','A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df['time']=time
df = df[['time', '물품', '판매수', '개당수익']]

# 데이터 타입 datetime으로 변경 (항상 df.info()로 데이터 타입 확인할 것)
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time')

# loc 함수로 필터링
df = df.loc[(df.index>='2023-09-24 16:00:00') & (df.index<='2023-09-24 22:00:00')]

# 전체 판매수 구하기
print(df['판매수'].sum())

25

In [15]:
# 문제 26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.

# 시간 데이터 만들기
df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B','A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df['time']=time
df = df[['time', '물품', '판매수', '개당수익']]
df = df.set_index('time', drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [16]:
# 풀이1
# 매출액 변수 추가
df['매출액'] = df['판매수']*df['개당수익']

# time 변수 추가하기, index 초기화 (인덱스를 컬럼으로)
df = df.reset_index() # 디폴트 drop=False
# print(df.head())

# index 새로 지정
df = df.set_index('time', drop=False)

# 데이터 타입 datetime 으로 변경
df['time'] = pd.to_datetime(df['time'])

# 9월 25일 필터링
df_after = df[df['time'].between('2023-09-25', '2023-09-26') ] # 26일은 미포함

# 시간 필터링 00 ~ 12 (주의:시간이 index위치여야 함)
df = df_after.between_time(start_time='00:00', end_time='12:00') # 포함 기준

# B 물품의 매출액 총합
df = df[df['물품']=='B']
print(df['매출액'].sum())

26500

In [18]:
# 풀이 2
# 시간 데이터 만들기
df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B','A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df['time']=time
df = df[['time', '물품', '판매수', '개당수익']]
df = df.set_index('time', drop=True)

# 데이터 타입 datetime 으로 변경 (df.info()로 항상 확인)
# df['time'] = pd.to_datetime(df['time'])

# 매출액 변수 추가
df['매출액'] = df['판매수']*df['개당수익']

# loc 함수로 필터링
df = df.loc[(df.index>='2023-09-25 00:00:00') & (df.index<='2023-09-25 12:00:00')]

# B 물품의 매출액 총합
df = df[df['물품']=='B']
print(df['매출액'].sum())

26500

In [29]:
# 문제 27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# 시간 데이터 만들기
df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
df['time']=pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df = df[['time', '물품', '판매수', '개당수익']]
df = df.set_index('time', drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [30]:
# 풀이1
# 매출액 변수 추가
df['매출액'] = df['판매수']*df['개당수익']

# time 변수 추가
df = df.reset_index()

# index 새로 지정
df = df.set_index('time', drop=False)

# 데이터 타입 datetime 으로 변경
df['time'] = pd.to_datetime(df['time'])

# 9월 24일 필터링 // df['변수'].between( . )
df_after = df[df['time'].between('2023-09-24', '2023-09-25')] # 25일은 미포함
df_after

# 시간 필터링 12:00 ~ 24:00
df = df_after.between_time(start_time='12:00', end_time='23:59') # 포함 기준
# 24:00 으로 하면 에러 발생 -> 그 전 시간으로 카운팅

# A물품의 매출액 총합
df = df[df['물품']=='A']
print(df['매출액'].sum())

10000

In [32]:
# 풀이2
# 시간 데이터 만들기
df = pd.DataFrame({
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600,]
})
df['time']=pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods=7)
df = df[['time', '물품', '판매수', '개당수익']]

# 데이터 타입 datetime 으로 변경
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time')

# 매출액 변수 추가
df['매출액'] = df['판매수']*df['개당수익']

# loc 함수로 필터링
df = df.loc[(df.index>='2023-09-24 12:00:00')&(df.index<='2023-09-24 23:59:59')]

# A 물품의 매출액 총합
df = df[df['물품']=='A']
print(df['매출액'].sum())

10000