In [3]:
# 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv")
df.to_csv('mtcars.csv', index=False)
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
# 문제1
# mpg변수의 제1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [5]:
#풀이
Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

In [6]:
#문제2
# mpg값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")

In [7]:
#풀이
cond1 = (df['mpg']>=19)
cond2 = (df['mpg']<=21)
print(len(df[cond1&cond2]))

5

In [8]:
# 문제3
# hp 변수의 IQR 값을 구하시오
df = pd.read_csv("mtcars.csv")

In [9]:
# 풀이
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = Q3-Q1
print(IQR)

83.5

In [10]:
# 문제4
# wt 변수의 상위 10개 값을 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [12]:
# 풀이
top10 = df.sort_values('wt', ascending=False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

42

In [13]:
# 문제5
# 전체 자동차에서 cyl이 6인 비율이 얼마인지 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")

In [14]:
# 풀이
len_6 = len(df[df['cyl']==6])
len_total = len(df)
print(round(len_6/len_total, 1))

0.2

In [15]:
# 문제6
# 첫 번째 행 부터 순서대로 10개 뽑은 후 mpg열의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [16]:
# 풀이
df10 = df[:10]
mean10 = df10['mpg'].mean()
print(round(mean10))

20

In [17]:
# 문제7
# 첫 번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("mtcars.csv")

In [18]:
# 풀이
p50 = int(len(df)*0.5)
df50 = df[:p50]
print(df50['wt'].median())

3.44

In [19]:
# 문제8
# 결측값이 있는 데이터의 수를 출력하시오.

# 데이터 생성(수정금지)
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})
df

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B   NaN   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230210     A  15.0   500
7   20230223     B  15.0   600
8   20230312     A  20.0   600
9   20230422     B   NaN   700
10  20220505     A  30.0   600
11  20230511     A  40.0   600

In [20]:
# 풀이
missing = df.isnull().sum()
print(df.isnull().sum())

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64

In [21]:
print(missing.sum())

5

In [22]:
# 문제9
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오.

# 데이터 생성
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [23]:
# 풀이
# 판매수의 중앙값
Q2 = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(Q2)
mean = df['판매수'].mean()
print(round(mean))

15

In [27]:
# 문제10
# 판매수 컬럼에 결측치가 했는 행을 제거하고,
# 첫 번째 행 부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1 값을 정수로 출력하시오.

df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230210','20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B',None,'B','A',None,'A','B','A','B','A','A'],
    '판매수' : [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [28]:
# 풀이
# 결측치 삭제
df = df['판매수'].dropna()

# 첫 번째 행부터 순서대로 50%까지의 데이터 추출
per50 = int(len(df)*0.5)
df = df[:per50]

# 값 구하기
print(round(df.quantile(0.25)))

5